* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* makes the scrolling upon link click smooth */
html {
    scroll-behavior: smooth;
  }

/* Conatins all content viewable by User */
.container {
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    /* added grid for possible future use */
    grid-template-columns: 3;
    grid-template-rows: 4;
}   

/* Top banner.  Includes image, title and nav bar */
.main-header {
    background-color: rgb(206, 204, 204);
    color: rgb(38, 94, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 25px 0;
    border-top: 5px solid blue;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

/* .navigation { */
    


/* Informational sections */

.authorbox {
    display: flex;
    width: 60%;
}

.aboutme {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.authorimage {
    float: left;
}

.aboutcontent {
    width: 60%;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
}

.my-work {
    display: flex;
    font-size: 16px;
    margin: 75px 0 15px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.workcontent {
    margin-bottom: 15px;
    line-height: 1.4;
}

.prework {
    display: block;
    width: 45%;
    height: 200px;
    margin-bottom: 75px;
    background-image: url(./images/calculator.jpg);
    background-size:cover
}

.horiseon {
    display: block;
    width: 30%;
    height: 200px;
    margin-bottom: 75px;
    background-image: url(./images/pastel_puzzle.jpg);
    background-size: cover;
}

.myportfolio {
    display: block;
    color: aliceblue;
    width: 30%;
    height: 200px;
    margin-bottom: 15px;
    background-image: url(./images/nebula.jpg);
    background-size: cover;
}

.contact-me {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Link actions */

a:link {
    text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-shadow: black;
}

a:active {
    text-decoration: underline blue;
}


button {cursor: pointer;}
/* possible footer area */
